.container {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    font-family: sans-serif;
    min-width: 180px;
}

.header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: black;
}

.selector {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    color: #333;
    width: 80px;
    cursor: pointer;
}

.selector:hover {
    border-color: #888;
    background-color: #f1f1f1;
}

.selector:focus {
    border-color: #3b82f6;
    background-color: #e6f0ff;
    outline: none;
}

.button {
    margin-top: 8px;
    padding: 2px 16px;
    border: black solid 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    font-family: BravuraText;
    font-size: 32px;
    color: black;
}
