.slide-in-out-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.inAnimation {
    animation-name: slideIn;
    animation-timing-function: ease-in;
}

.outAnimation {
    animation-name: slideOut;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-110%);
    }
}