@import '@assets/root.css';

#mainView {
    display: flex;
    background-color: var(--main-view-background-color);
    height: 100%;
    font-size: var(--main-view-font-size);
    font-family: Bravura;
}
