@import '@assets/root.css';

#main-view {
    background-color: var(--main-view-background-color);
    height: 100%;
    font-size: var(--main-view-font-size);
    font-family: Bravura;
}

.stave {
    display: inline;
}
