.top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.separator {
    margin: 2px 4px;
    /* TODO: config extraction */
    background-color: #ccc;
    width: 2px;
    height: auto;
}
