.top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.group-container {
    display: flex;
    flex-direction: row;
}

.draggable-component {
    padding: 0 5px;
}

.draggable-component:hover {
    background-color: #010d4e;
}

.separator {
    margin: 2px 4px;
    background-color: #ccc;
    width: 2px;
    height: auto;
}
