#mainLayout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid;
    width: 100vw;
    min-width: 0;
    height: 100vh;
    min-height: 0;
    overflow: hidden;
}

#topbar {
    flex: 0 0 20%;
}

#mainView {
    display: flex;
    flex: 8 1 0;
    flex-direction: column;
    min-width: 0;
    font-size: var(--main-view-font-size);
    font-family: Bravura;
}

#scrollableView {
    display: flex;
    flex: 1 1 0;
}

#container {
    flex: 1 1 0;
    border: 1px solid red;
}

#container > * {
    border: 1px solid;
    width: 100%;
    height: 100%;
}
