.color-editor-div {
    display: flex;
    gap: 8px;
}

.color-input {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: none;
}

.color-input:focus {
    outline: none;
}

.color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}
