.container {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    font-family: sans-serif;
    min-width: 200px;
}

.header {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: black;
}

.ports {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.port-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 2px 10px 2px 5px;
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

.port-button:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.port-button-img {
    width: 1.5rem;
    height: 1.5rem;
}

.button {
    margin-top: 8px;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.disconnect-button {
    background-color: #bb1a2a;
}

.disconnect-button:hover {
    background-color: #c82333;
}

.disconnect-button:disabled {
    background-color: lightgray;
}

.refresh-button {
    background-color: #217714;
}

.refresh-button:hover {
    background-color: #124d0a;
}