.button {
    --hover-color: rgba(0, 186, 199, 0.7);
    display: flex;
    transition: background-color 0.2s ease;
    border: none;
    border-radius: 10%;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    font-size: 30px;
    width: 0.8em;
    height: 0.8em;
    padding: 0.6rem 0.6rem 1rem;
    text-align: center;
    line-height: 15px;
    gap: 2px;
}

.button:hover, .buttonToggled {
    background-color: var(--hover-color);
}