.box {
    display: flex;
    gap: 6px;
    font-family: 'BravuraText';
    margin: 0.1rem 0;
    margin-left: 0.1rem;
}

.note {
    display: flex;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    padding: 0.6rem 0.6rem 1rem;
}

.note:hover, .noteSelected {
    outline: 2px solid red;
}